{%- if theme.busuanzi_count.enable %}
  {%- if theme.vendors.busuanzi %}
  <script{{ pjax }} async src="{{ theme.vendors.busuanzi }}"></script>
  {%- else %}
  <script{{ pjax }} async src="https://cdnjs.cloudflare.com/ajax/libs/busuanzi/2.3.0/bsz.pure.mini.min.js"></script>
  {%- endif %}
{%- endif %}
